@font-face {
    font-family: 'Overlock';
    src: url('../font/Overlock-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: 'Overlock', 'Courier New', Courier, monospace;
}

a{
    color: skyblue !important;
}